language: php

matrix:
  include:
    - php: 5.6
    - php: 7.0
    - php: 7.1
      env: deps=low
    - php: 7.1
    - php: nightly

sudo: false

env:
  global:
    - deps=standard

cache:
  directories:
    - $HOME/.composer/cache

install:
  - composer self-update -q
  - if [ "$deps" = "standard" ]; then composer --ignore-platform-reqs --prefer-stable --prefer-dist -n update; fi;
  - if [ "$deps" = "low" ]; then composer --ignore-platform-reqs --prefer-lowest -n --prefer-stable --prefer-dist update; fi;

script:
  - vendor/bin/phpstan analyse -l 2 src/
  - vendor/bin/phpcs --standard=ruleset.xml src
